<!--
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
-->

<center><h1>Jen's Dice Game!</h1></center>
<center><%= @winmsg %></center>
<!--<center><img src="http://images.clipartpanda.com/1-dice-clipart-yikpbxkiE.png"/></center>-->
<center><p><%= @player1 %>			<%= @player2 %></p></center>
<center><%= @scoremsg %></center>
